
/* #Internal Page Styles av.1 p.robson feitosa
================================================== */
 
.extend{ float:left; width:100%; position:relative; } 
 
 
.container_geral{
    width: 100%;
    margin: 0;
    padding: 0; 
}


/* heading h1, h2, h3, h4, h5, h6 */
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    font-weight: normal;
} 

.heading-title h1 { 
    margin-top: 90px;
    width: 100%; 
	font-size:32px;
	color:#20b186;
	text-transform:uppercase;
	text-align:center;
    font-family: 'latoregular';
} 

.heading-title h1::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    left: 44.5%;
    background-color: #19222a;
}


p{ 
	color: #444444;
    font-family: 'robotoregular';
    font-size: 18px;
/*	line-height: 20px;*/
	margin-top:0;
	margin-bottom:10px;
}

b, strong{ 
    font-weight: normal;
}


.pfleft{
    padding-left: 0 !important;
}
 

.ul_reset, .ul_reset, .fig_reset {
    position: relative;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}


/* wrapper */
.wrapper-auto {  
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.wrapper { 
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.wrapper-ever {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}


/*
    MARGINS ADICIONAIS 
*/
.mt20{ margin-top: 30px; }
.mb20{ margin-bottom: 30px; }
.mr20{ margin-right: 30px; }
.ml20{ margin-left: 30px; }
.mt20{ margin-top: 30px; }
.mb20{ margin-bottom: 20px; }
.mr20{ margin-right: 20px; }
.ml20{ margin-left: 20px; }
.mt15{ margin-top: 15px; }
.mb15{ margin-bottom: 15px; }
.mr15{ margin-right: 15px; }
.ml15{ margin-left: 15px; }
.mt10{ margin-top: 10px; }
.mt100{ margin-top: 100px; }
.mb10{ margin-bottom: 10px; }
.mr10{ margin-right: 10px; }
.ml10{ margin-left: 10px; }
.mt50{ margin-top: 50px; }
.mb50{ margin-bottom: 50px; }
.mt30{ margin-top: 30px; }
.mt40{ margin-top: 40px; }
.mb30{ margin-bottom: 30px; }
.pd20{ padding-bottom: 20px; }


 

/*
	LISTAS RESET
*/
figure{
    margin: 0;
    padding: 0;
} 
html body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #404040;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
} 
a { 
    text-decoration: none;
    width: 100%;
}
a:link {
	color: #009;  
    text-decoration: none;
}
a:visited {
	color: #009;
}
a:hover {
	color: #00C;
}
a.opacy:hover * {
	opacity: 0.8;
}
a:active {
	color: #009;
}
img {
	border: 0px;
	display: block;
}

a, a:active, a:focus {
    color: #9f9f9f;
}





/* #Page Styles
================================================== */
 
.header, .body, .footer {
	position:relative;
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}





/* IF FULL HEIGHT */
.header, .body, .footer { 

}
.container { 
}




 /* PADRÕES PAGER */
.pager-inner{
    margin-top: 20px;
	margin-bottom:60px;
}  
.pager-inner div.mr20{
	float:left;
	margin-right:20px; 
	font-style:italic;
}    

.pager-inner .right, .pager-inner .left { 
    margin-bottom: 10px; 
    position: relative; 
    top: 4px; 
}  

.inner-pager .right { 
    margin-left: 20px; 
}

.inner-pager .left { 
    margin-right: 20px; 
}


 
 
/* # rede social  av.1
================================================== */  
.redeSocial { 
    margin-top: 42px;
}
.redeSocial ul {
    float: right;
    margin-bottom: 20px;
}
.redeSocial span {
    color: #d4c4b2;
    float: right;
    font-family: 'latoregular';
    font-size: 12px;
    margin: 2px 8px 0 0;
    text-transform: uppercase;
}
.redeSocial ul li {
    margin-right: 5px;
    display: inline-block;
    float: none;
}
.redeSocial ul li a i {
    background: #dadada none repeat scroll 0 0;
    border-radius: 100%;
    box-sizing: border-box;
    color: #444;
    float: left;
    font-size: 19px;
    height: 36px;
    width: 36px;
    padding-top: 10px; 
    text-align: center;
    text-decoration: none;
}

  
 



/* # Centralize Defaulting
================================================== */ 
.centralize {
	text-align:center;  
}
.centralize:before {
    /* content: ''; */
    display: inline-block;
    height: 100%;
    vertical-align: middle; 
} 
.centralize > div{ 
    display: inline-block;
    vertical-align: middle;
    text-align: center; 
}  






/* # PAGINATOR WITH PAGER » av.1
============================================ */
 .paginator{   
	float:left;
}
.paginator li{
	padding:0  ;
	border:0  ;
	display:inline  ;
	margin:0  !important;
}
.paginator li a{
	float:left  ; 
	border-radius:100%;
	font-size:14px  ;
	font-weight:300  ;
	color:#fff  ;
	text-decoration:none  ;
	margin:0px 1px  ;
	text-align:center  ; 
    display: block;
	background:#a4a4a4  ;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
            -ms-transition: all ease 0.3s;
                -o-transition: all ease 0.3s;
} 
.paginator li a:hover{  
	color:#0052a7  ; 
	background:#000  ;
} 
.paginator li a:hover, .paginator li.select a{ 
	font-size: 14px  ;
	color:#fff  ;
	background:#000 ;
} 
.paginator ul li:first-child a,
.paginator ul li:last-child a{
	background:none;
	color:#a1a1a1  ;
	padding:5px 12px  ; 
	border:0  ;  
	font-size:14px  ;
    line-height: 24px;
    width: 14px;
    width: auto;
}
.paginator ul li:first-child a:hover,
.paginator ul li:last-child a:hover{
	background:none;
	color:#000  ;  
	padding:5px 12px  ;
    margin: 0; 
	margin:0px 1px  ; 
} 






/* # PSEUDOS RANDOM »  
============================================ */
 




/* # TAGS » VERIFICAR UM MODELO em html (?)
============================================ */ 
.tags_pager{
	padding:10px;
	background:#f1f1f1;
	text-align:left; 
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.tags_pager strong{
	float:left;
	margin-right:4px;
}
.tags_pager a{
	flaot:left;
	color:#1e5fa9;
	text-decoration:none;
	margin-right:5px;
}
.tags_pager a:after{
	content: ','; 
}
.tags_pager a:last-child:after{
	content: '';
}






/* # ARTEM SITE » 
============================================ */
.artemsite { 
    position: relative;  
}
.artemsite a{
    float: right;
}
.artemsite a span {
    color: #fff;
    float: left;
    font-family: 'latoregular';
    font-size: 16px;
    margin-right: 6px; 
}
.artemsite a img {
    float: left;
}  
.artemsite .svg * {
  fill: orange;
}




/* # SLIDE » 
============================================ */
.slide,
.slideBox{
    width: 100%; float: left;  
    margin: 0;
}
.slideBox{
    
}
.slide img{         /* ^responsivo */
    width: 100%; 
    height: auto;
}
.controls img{
    width: auto;
    height: auto;
}




/* # SEARCH » 
============================================ */
.search{
    width: 100%; 
    z-index: 2;
    border: 1px solid #ccc;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.search label:first-child{
	float:left;
	width:100%;
	position:relative;
	left:0;
	right:0;
}
.search label input{
	outline:none;
	border:none;
}
.search label input[type^="text"],
.search label input[type^="submit"]{
	height:35px;
}
.search label input[type^="text"]{  
    font-family: 'latoregular'; 
	background: rgba(255, 255, 255, 0.85);
	width:100%;
    padding:0 10px;
	float:left;  
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	color:#848484; 
	font-size: 14px; 
	position: relative;
	z-index:1;
    border-radius: 15px;
}
.search label input[type^="submit"]{
	background:url(../images/svg/icon-search.svg) no-repeat center center transparent; 
/*    background-size: contain;*/
    padding: 5px;
    display: block;
	width:37px;
	float:left;
	position:absolute;
	z-index:2;
	right:0;
	cursor:pointer;
	border:none;
	outline:none;
}





/* id-orient */
.id-orient{
    margin-top: 40px;
    text-align: right;
}
.id-orient a:last-child{
    margin-right: 0;
} 
.id-orient a{
    text-decoration: none;
    margin-right: 15px; 
    color: #a1a1a1;
    font-size: 18px;
    font-family: arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
}
.id-orient a:hover{
    color: #0c82c7;
}

        
      

/* # ADD THIS » 
============================================ */        
.addthis{
    margin: 20px 0;
}

/* around */ 
.at-share-tbx-element a { 
    border-radius: 100% !important; 
    overflow: hidden; 
    display: inline-block;
    width: auto;
}
        
.at-share-tbx-element svg { 
    height: 22px !important; 
    left: 5px; 
    position: relative; 
    top: 5px; 
    width: 22px !important; 
}



/* # FACEBOOK RESPONSIVO  » 
============================================ */ 
div.box-comments-facebook{
    margin-top: 40px;
}
div.box-comments-facebook iframe, div.box-comments-facebook img{
    width: 100%;
    height: auto;
}
#fb-root {
  display: none;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}




 


/* # Centralize Defaulting
================================================== */ 
.centralize {
	text-align:center;  
}
.centralize:before {
    /* content: ''; */
    display: inline-block;
    height: 100%;
    vertical-align: middle; 
} 
.centralize > div{ 
    display: inline-block;
    vertical-align: middle;
    text-align: center; 
}  





/* # breadcrumbs 
================================================== */  
.breadcrumbs{ 
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    font-family: 'robotoregular';
    margin: 0; padding: 0;
    line-height: 21px; 
    
}
body .breadcrumbs em{
    font-family: 'robotobold'; 
    color: #ce3636;
}
.breadcrumbs a, .breadcrumbs em{
    font-style: normal;
    color: #444444;
    text-transform: uppercase;        
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
}
.breadcrumbs a:hover{
    color: #00abaa;
}

 

 


 
/* # flex 
================================================== */  
.flex-center{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
.flex-between{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}
.flex-center-ever{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
.flex-between-ever{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}


 

/* # controldefault 
================================================== */   
  
/* arrow */
#next1, #prev1 {
    position: absolute;
    top: 43%;
    z-index: 12123;
}  
#next1 {
    right: 30px; 
    transition: all 0.3s ease-in-out 0s; 
} 
#prev1 {
    left: 30px; 
    transition: all 0.3s ease-in-out 0s;
} 
#next1 img {
    display: block;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
} 



/* slide */ 
.conteudo_slide {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 8%;
}
.conteudo_slide .extend a{
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.conteudo_slide .extend a > div{
    float: left;
}
.conteudo_slide .extend a > div *{
    clear: both;
    display: block;
}
.conteudo_slide span big{
    margin-top: 6px;
}
.conteudo_slide span {
    color: #2d2d2d;
    display: block;
    font-family: 'inherit';
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 12px #fff;
}
.conteudo_slide span small { 
    font-family: 'galderglynn_titlingbook';
}




/* # alinhamento vertical com table-cell
================================================== */   

.table-box-alinh > div {
    display: table-cell;
    float: unset;
    vertical-align: middle;
}
.table-box-alinh {
    display: table;
    vertical-align: middle;
}




/* # ORDER DE LISTAS EM TABLE [ul, div, od] 'PAI > 'FILHO LISTA'
================================================== */   
  
.list-common{
    padding-left: 0;
    float: left;
    position: relative;
    display: table;
    width: 100%;
}
.list-common li{
    list-style: none;
    display: table;
    vertical-align: middle;
    margin-bottom: 20px; 
}
.list-common li p{
    margin-bottom: 0;
}
.list-common li span{
    line-height: 23px;
    color: #18ab50;
    font-size: 26px;
    font-family: 'latoheavy';
}

.list-common li i{
    font-size: 16px;
    font-family: 'latoitalic';
    color: #777777;
    font-style: normal;
}
.list-around .list-common li {
    margin-bottom: 30px;
    margin-top: 10px;
}
.list-around .list-common li p{ 
    font-family: 'latobold';
    line-height: 21px;
}








/* # CONTROLE DE ICONS LEFT EM TABLE-CELL  [ul > li]  'FILHO LISTA'
================================================== */   
.icon-default-one li::before{
    content: url(https://cdn2.iconfinder.com/data/icons/hicons/128/relatorio.png);
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    top: -4px;
    position: relative;
} 











/* # ARTICLE 
================================================== */    


/*
    ## PADRÃO NOTICIAS [ ARTICLE ]
*/


.not-header{
    margin-top: 65px;
    margin-bottom: 85px;
}
.not-header > article{
    margin-top: 15px;
    margin-bottom: 15px;
}
 
article a{
    text-decoration: none !important;
}


/*
    ## NOTICIA VERTICAL
*/
article figure h3{
    font-size: 26px;
    font-family: 'latoheavy';
    color: #18ab50; 
    margin-bottom: 0;
    margin-top: 0;
}
article figure img{
    width: 100%;
    height: auto;
}
article figure  > div.extend{
    margin-bottom: 10px;
}
article figure > div,
article figure > div > div {
    position: relative;
    z-index: 2;
    overflow: hidden;
}
article figure > div img,
article figure > div > div img{
    position: relative;
    z-index: 1;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    
}
article figure:hover > div img{
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
}
.article article{
    margin-bottom: 40px;
}






.icon::before {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.icon-img::before{
    content: url(../images/fixo/icon-img.png);
}
.form-txt{
    font-size: 22px;;
    color: #444444;
    font-family: 'robotoblack';
    text-transform: uppercase;
    display: flex;
    margin-bottom: 20px;
}
.icon-drone::before{
    content: url(../images/fixo/icon-drone.png);
}




/* ##### FOOTER  */
.copy{
    border-top: 1px solid #7698ba;
    padding-top: 25px;
}
.copy p{
    color: #7698ba;
    font-family: 'latoregular';
    font-size: 13px;
} 


.map-box iframe{
    width: 100%;
}
.map-box{
    margin-bottom: 30px;
    display: block;
    width: 100%;
    float: left;
}


.contato .adress-wrapper a.btn-square {
    border-color: #444444;
    color: #444444 !important;
}
.contato .adress-wrapper * {
    color: #444444 !important;;
}
body .header.in{ 
    overflow: visible;
}
body .header.in .content-header-principal{
    display: none;
    visibility: hidden;
}
body .pager-inner h1.logo{
    margin-top: 32px;
    margin-bottom: 30px;
}
body .pager-inner{
    margin-top: 50px;
    margin-bottom: 40px;
}
body .pager-inner .heading-title h1{
    color: #444444;
}

body .header.in .abs-slide{ 
    display: none;
    visibility: hidden;
}
body .header.in{ 
    height: 110px;
    background: #444444;
}



.content-wrapper-cms p strong i{
    font-style: none;
    color: #ce3636;
    text-transform: uppercase;
}